#wow__search {
    #wow__search__loader {
        background-color: #fff;
        opacity: 0;
        transition: opacity 0.6s ease;
        transition-delay: 1s;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 10;
        &:not(.in) {
            pointer-events: none;
        }
        &.in {
            opacity: 1;
            transition-delay: 0s;
            .wow__search__results_loader__img_container_wrap {
                .wow__search__results_loader__img_container {
                    transform: scale(1);
                    opacity: 1;
                }
            }
            h3 {
                opacity: 1;
                transition-delay: 0.7s;
            }
        }
        .wow__search__results_loader__img_container_wrap {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);

            &:nth-child(1) {
                width: 50vw;
                height: 50vw;
                .wow__search__results_loader__img_container {
                    transition-delay: 0;
                }
                @media (max-width: 1024px) {
                    width: 80vw;
                    height: 80vw;
                }
                img {
                    animation: rotate_ 20s linear infinite forwards;
                }
            }
            &:nth-child(2) {
                width: 70vw;
                height: 70vw;
                .wow__search__results_loader__img_container {
                    transition-delay: 0.2s;
                }
                @media (max-width: 1024px) {
                    width: 120vw;
                    height: 120vw;
                }
                img {
                    animation: rotate_ 25s linear infinite forwards;
                }
            }
            &:nth-child(3) {
                width: 100vw;
                height: 100vw;
                .wow__search__results_loader__img_container {
                    transition-delay: 0.5s;
                }
                @media (max-width: 1024px) {
                    width: 160vw;
                    height: 160vw;
                }
                img {
                    animation: rotate_ 30s linear infinite forwards;
                }
            }
            .wow__search__results_loader__img_container {
                width: 100%;
                height: 100%;
                display: block;
                position: absolute;
                left: 0;
                top: 0;
                opacity: 0;
                transform: scale(0.9);
                transition: all 0.6s ease;
                img {
                    display: block;
                    width: 100%;
                    height: 100%;
                }
                @keyframes rotate_ {
                    from {
                        transform: rotate(0);
                    }
                    to {
                        transform: rotate(720deg);
                    }
                }
            }
        }
        h3 {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            font-size: 2.4vw;
            font-weight: 300;
            opacity: 0;
            transition: opacity 0.6s ease;
            margin: 0;
            @media (max-width: 1024px) {
                font-size: 4.5vw;
            }
        }
    }
}
